<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Testcases" parallel="tests">

    <classes>
      <class name="framework.E2etesting.testcases"/>
      </classes>
      </test>
      
      <test name="validatenavigator">
      <classes>
      <class name="framework.E2etesting.validatenavigator"/>
      </classes>
      </test>
    
 
</suite> <!-- Suite -->
